:root {
  --bg: #efeff0;
  --text-primary: #32394d;
  --text-2nd: #aaadb0;
  --text-3rd: #c6c9cc;
  --border: #ecf1f5;
  --green-light: #11d11f;
  --green-dark: #1cc327;
  --green-dark-dark: #0eae19;
  --blue-light: #33a7e3;
  --blue-dark: #0a95dd;
  --blue-dark-dark: #0682c2;
  --blue-fade: #b5dff5;
  --purple: #bb4fd2;
  --purple-dark: #a238b9;
  --purple-light: #9561ab;
  --orange: #f08232;
  --orange-dark: #d26d23;
  --orange-btn: #dd8b0a;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--text-primary);
  font-weight: 600;
}

body p {
  line-height: 2.2rem;
}

button {
  outline: none;
}

button:hover {
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
}

.welcome {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.welcome__container {
  background-color: var(--text-primary);
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome__content {
  color: white;
  width: 80%;
  height: 100%;
  text-align: center;
  padding: 10rem;
}

.welcome__content h2 {
  margin-top: 3rem;
  font-size: 5rem;
  color: white;
}

.welcome__content p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  line-height: 3rem;
}

.welcome__content a {
  font-size: 3rem;
  color: white;
  text-decoration: underline;
}

.welcome__img {
  width: 20%;
  height: 100%;
}

.welcome__close {
  position: absolute;
  left: 0;
  font-size: 10rem;
  color: white;
}

.wrapper {
  width: 130rem;
  background-color: var(--bg);
  padding: 12.4rem 0 10rem 0;
  margin: 0 auto 0;
}

.player {
  margin: 0 auto 0;
  display: -ms-grid;
  display: grid;
  max-width: 114rem;
  grid-gap: 3rem;
  -ms-grid-columns: 3fr 6fr 3fr;
      grid-template-columns: 3fr 6fr 3fr;
}

.player__grid-item {
  background-color: white;
  border-radius: 0.5rem;
}

.player__grid-item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player__grid-item-1 .player__vd {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.player__grid-item-1 .player__vd iframe {
  height: 44rem;
}

.player__grid-item-1 .player__content {
  margin: 0 0 0 3rem;
}

.player__grid-item-1 .player__content--title {
  margin: 4rem 0 2rem 0;
  font-size: 2.6rem;
}

.player__grid-item-1 .player__content--desc {
  font-size: 1.4rem;
  color: var(--text-2nd);
}

.player__grid-item-1 .player__content--feed {
  margin: 2rem 0;
  color: var(--text-3rd);
}

.player__grid-item-1 .player__content--feed span, .player__grid-item-1 .player__content--feed i {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 2rem;
}

.player__grid-item-1 .player__content--feed i {
  margin: 0 0.5rem 0 0;
}

.player__grid-item-1 .player__footer {
  border-top: 1px solid var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 7rem;
  padding: 1.5rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__grid-item-1 .player__footer--img {
  margin-right: 1.5rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.player__grid-item-1 .player__footer--author {
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.player__grid-item-1 .player__footer--author p:first-child {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-primary);
}

.player__grid-item-1 .player__footer--author p:last-child {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-3rd);
}

.player__grid-item-1 .player__footer--btn {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  width: 10rem;
}

.player__grid-item-1 .player__footer--btn button {
  background-color: var(--green-light);
  border: 1px solid var(--green-dark-dark);
  color: white;
  font-size: 1.2rem;
}

.player__grid-item-1 .player__footer--btn button:first-child {
  border-radius: 3.5rem 0 0 3.5rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.player__grid-item-1 .player__footer--btn button:last-child {
  border-radius: 0 3.5rem 3.5rem 0;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.player__grid-item-1 .player__footer--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.player__grid-item-1 .player__footer--date p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-3rd);
}

.player__grid-item-1 .player__footer--date p:last-child {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-primary);
}

.player__grid-item-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player__grid-item-2 .player__title {
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid var(--border);
  padding: 3rem 0 2rem 2rem;
  max-height: 6rem;
}

.player__grid-item-2 .player__vd--container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player__grid-item-2 .player__vd {
  max-width: 22rem;
  max-height: 21.8rem;
  margin: 2rem auto 1.5rem;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.player__grid-item-2 .player__vd:hover {
  -webkit-box-shadow: 2px 2px 5px var(--text-3rd);
          box-shadow: 2px 2px 5px var(--text-3rd);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.player__grid-item-2 .player__vd:hover .player__vd--title {
  text-decoration: underline;
}

.player__grid-item-2 .player__vd:last-child {
  border-bottom: none;
}

.player__grid-item-2 .player__vd--video {
  width: 100%;
  margin: 0 auto 1.5rem;
  height: 11.7rem;
}

.player__grid-item-2 .player__vd--title {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}

.player__grid-item-2 .player__vd--text {
  color: var(--text-3rd);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0 0;
}

.player__grid-item-2 .player__vd--text i {
  margin-right: 1.5rem;
}

.player__grid-item-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  overflow: hidden;
}

.player__grid-item-3 .player__carousel {
  height: 12rem;
  position: relative;
  margin: 2rem auto 1rem;
}

.player__grid-item-3 .player__carousel--element {
  width: 10rem;
  height: 10rem;
  position: relative;
}

.player__grid-item-3 .player__carousel--element img {
  width: 100%;
  height: 100%;
}

.player__grid-item-3 .owl-item:not(.center) .player__trigger {
  display: none;
}

.player__grid-item-3 .player__content {
  margin: 3rem 0 0 0;
  text-align: center;
}

.player__grid-item-3 .player__content--name {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.player__grid-item-3 .player__content--author {
  font-size: 1.2rem;
  font-weight: var(--text-2nd);
}

.player__grid-item-3 .player__music-wave {
  height: 4rem;
  margin: 1.5rem 0 0 0;
  position: relative;
}

.player__grid-item-3 .player__footer {
  padding: 1.5rem 2rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player__grid-item-3 .player__footer--item {
  color: var(--text-3rd);
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 2rem;
}

.player__grid-item-3 .player__footer--time {
  color: var(--text-2nd);
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
}

.player__grid-item-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.player__grid-item-4 .player__img {
  width: 20%;
}

.player__grid-item-4 .player__img img {
  width: 100%;
  height: 100%;
}

.player__grid-item-4 .player__text {
  width: 80%;
  padding: 0 2rem;
}

.player__grid-item-5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.player__grid-item-5 .player__img {
  width: 17%;
}

.player__grid-item-5 .player__img img {
  width: 100%;
  height: 100%;
}

.player__grid-item-5 .player__text {
  width: 83%;
  padding: 0 2rem;
}

.player__img {
  position: relative;
  border: 1px solid black;
}

.player__trigger {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 3.6rem;
  width: 50%;
  height: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player__trigger img.icon-pause {
  position: absolute;
  -webkit-animation: bounceOut;
          animation: bounceOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 100%;
}

.player__trigger img.icon-play {
  position: absolute;
  -webkit-animation: bounceIn;
          animation: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.player__trigger--playing img.icon-play {
  -webkit-animation: bounceOut;
          animation: bounceOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.player__trigger--playing img.icon-pause {
  -webkit-animation: bounceIn;
          animation: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.player__content {
  margin: 2rem 0 0 0;
}

.player__content--name {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.player__content--author {
  font-size: 1.2rem;
  font-weight: var(--text-2nd);
}

.player__music-wave {
  height: 4rem;
  overflow: hidden;
  margin: 1.5rem 0 0 0;
}

.player__music-line {
  margin: 1.5rem 0 0 0;
  height: 0.3rem;
  position: relative;
  background-color: var(--text-3rd);
}

.player__music-line .progress {
  position: absolute;
  background-color: var(--blue-light);
  height: 100%;
}

.player__footer {
  padding: 1.5rem 0;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.player__footer--item {
  color: var(--text-3rd);
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 2rem;
}

.player__footer--item:nth-child(3) {
  margin-right: auto;
}

.player__footer--time {
  color: var(--text-2nd);
  font-size: 1.2rem;
  font-weight: bold;
}

.player__heart {
  position: absolute;
  right: 0;
  top: 0;
  width: 10rem;
  height: 10rem;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  -webkit-transition: background-position 1s steps(28);
  transition: background-position 1s steps(28);
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.player__heart.is-active {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-position: -2800px 0;
}

.heart-active i {
  color: red;
}

.menu__add-menu {
  cursor: default;
  z-index: 3;
  position: absolute;
  -webkit-box-shadow: -2px 2px 5px gray;
          box-shadow: -2px 2px 5px gray;
  background-color: white;
  text-align: right;
  right: 0;
  top: 6rem;
  color: var(--text-2nd);
  font-size: 1.2rem;
  line-height: 2rem;
  display: none;
}

.menu__add-item {
  padding: 1rem 2rem;
}

.advertise {
  max-width: 114rem;
  margin: 13rem auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  position: relative;
}

.advertise > * {
  background-color: white;
  border-radius: 0.5rem;
}

.advertise__header, .advertise__footer {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  height: 6rem;
}

.advertise__header {
  border-bottom: 1px solid var(--border);
  min-height: 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advertise__footer {
  border-top: 1px solid var(--border);
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__add-menu {
  cursor: default;
  z-index: 3;
  position: absolute;
  -webkit-box-shadow: -2px 2px 5px gray;
          box-shadow: -2px 2px 5px gray;
  background-color: white;
  text-align: left;
  right: 0;
  top: 6rem;
  color: var(--text-2nd);
  font-size: 1.2rem;
  line-height: 2rem;
}

.menu__add-menu #item-type {
  background-color: var(--orange);
  color: white;
  padding-left: 0.8rem;
}

.menu__add-item {
  padding: 1rem 2rem;
}

.advertise__header--btn {
  color: var(--text-3rd);
  border: none;
  background-color: white;
}

.advertise__footer--left, .advertise__footer--right {
  position: relative;
}

.advertise__footer-pagi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.advertise__footer-pagi li.active {
  background-color: var(--blue-dark-dark);
}

.advertise__pagi-item {
  background-color: var(--text-3rd);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.advertise__new {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

#owl-carousel--1 .owl-nav, #owl-carousel--1 .owl-dots {
  position: absolute;
  width: 100%;
}

#owl-carousel--1 .owl-next, #owl-carousel--1 .owl-prev {
  color: var(--text-2nd);
  position: absolute;
  height: 6rem;
  width: 6rem;
  top: 0;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  font-size: 1.8rem;
}

#owl-carousel--1 .owl-prev {
  position: absolute;
  left: 0;
}

#owl-carousel--1 .owl-next {
  position: absolute;
  right: 0;
}

#owl-carousel--2 {
  height: 100%;
}

#owl-carousel--2 .owl-stage-outer {
  height: 100%;
}

#owl-carousel--2 .owl-stage {
  height: 100%;
}

#owl-carousel--2 .owl-item {
  height: 100%;
}

#owl-carousel--2 .owl-nav, #owl-carousel--2 .owl-dots {
  position: absolute;
  width: 100%;
}

#owl-carousel--2 .owl-next, #owl-carousel--2 .owl-prev {
  color: var(--text-2nd);
  height: 6rem;
  width: 6rem;
  top: 0;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  font-size: 1.8rem;
}

#owl-carousel--2 .owl-prev {
  position: absolute;
  left: 0;
}

#owl-carousel--2 .owl-next {
  position: absolute;
  right: calc(50% + 1.5rem);
}

#owl-carousel--player .owl-stage-outer {
  width: 100%;
  height: 100%;
}

#owl-carousel--player .owl-stage {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#owl-carousel--player .center > * {
  width: 12rem;
  height: 12rem;
}

#owl-carousel--player .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#owl-carousel--player .owl-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#owl-carousel--player .owl-prev, #owl-carousel--player .owl-next {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 5px white;
          box-shadow: 0 0 5px 5px white;
}

#owl-carousel--player .owl-prev img, #owl-carousel--player .owl-next img {
  width: 100%;
  height: 100%;
}

#owl-carousel--player .owl-prev {
  top: calc(-6rem - 2rem);
  left: 0px;
}

#owl-carousel--player .owl-next {
  top: calc(-6rem - 2rem);
  right: 0px;
}

@media screen and (max-width: 1300px) {
  .owl-prev {
    left: calc(50% - 12rem) !important;
  }
  .owl-next {
    right: calc(50% - 12rem) !important;
  }
}

@media screen and (max-width: 414px) {
  .owl-prev {
    top: calc(50% - 2rem);
    left: 0 !important;
  }
  .owl-next {
    top: calc(50% - 2rem);
    right: 0 !important;
  }
}

.advertise__new-middle {
  width: 36rem;
  max-height: 42.6rem;
  padding: 3rem 3rem 5rem;
  position: relative;
  margin: 0 auto;
}

.new__content {
  margin: 2rem 0 0 0;
  padding: 0 3rem;
  text-align: center;
}

.new__content--name {
  font-size: 2.4rem;
  font-weight: bold;
}

.new__content--price {
  font-size: 1.8rem;
}

.new__img {
  width: 100%;
  height: 28rem;
}

.advertise__rate {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.advertise__rate .advertise__header .advertise__header--title {
  color: var(--text-2nd);
  font-weight: normal;
}

.advertise__rate .advertise__header span.bold {
  font-weight: bold;
  color: var(--text-primary);
}

.advertise__rate-middle {
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 3rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.advertise__rate-middle--left {
  padding: 3rem;
  border-right: 1px solid var(--border);
}

.advertise__rate-middle--left img {
  width: 100%;
  height: 100%;
}

.advertise__rate-middle--right {
  padding: 0 3rem 0 0;
}

.rate-middle__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 5rem 0 2rem;
}

.rate-middle__vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vote__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.vote__star .voted {
  color: var(--orange);
}

.vote__star--item {
  font-size: 1.2rem;
  color: var(--text-3rd);
}

.vote__info {
  padding-left: 2rem;
  font-size: 1.4rem;
}

.rate-middle__desc {
  font-size: 1.6rem;
  color: var(--text-2nd);
  font-weight: normal;
  padding: 2.5rem 0 3rem;
}

.rate-middle__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.rate-middle__price--item {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rate-middle__price--item p {
  color: var(--text-2nd);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 3rem 0 0;
}

.rate-middle__price--item h3 {
  font-size: 2.4rem;
}

.rate-middle__price--item:first-child h3 {
  margin: 0 7rem 0 0;
}

.advertise__rate-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 6rem;
  border-top: 1px solid var(--border);
}

.advertise__rate-footer .advertise__footer {
  border-top: none;
}

.advertise__rate-footer--left {
  width: calc(50% - 15px);
}

.advertise__rate-footer--right {
  width: calc(50% + 15px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate-footer__btn--add, .rate-footer__btn--buy {
  width: 50%;
  height: 100%;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.rate-footer__btn--add {
  background-color: white;
}

.rate-footer__btn--buy {
  background-color: var(--green-light);
  color: white;
}

.advertise__present {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 8rem 36rem 7.5rem 4rem;
}

.advertise__present--title {
  font-size: 3.4rem;
}

.advertise__present--text {
  font-size: 1.4rem;
  color: var(--text-2nd);
  margin: 2rem 0;
}

.advertise__present--btn {
  border: none;
  color: white;
  background-color: var(--blue-dark);
  height: 4rem;
  width: 17rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.advertise__subcribe {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: var(--blue-light);
  color: white;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advertise__subcribe--title {
  color: white;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 2rem 0;
}

.advertise__subcribe--text {
  font-size: 1.4rem;
  margin: 0 0 2.5rem 0;
}

.advertise__subcribe--ipt {
  border-radius: 0.3rem;
  overflow: hidden;
  margin: 0 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advertise__subcribe--ipt button {
  min-width: 5rem;
  background-color: white;
  border: none;
  color: var(--text-3rd);
  height: 4.5rem;
}

.advertise__subcribe--ipt button i {
  -webkit-transition-timing-function: cubic-bezier(0.57, -0.47, 1, 0.23);
          transition-timing-function: cubic-bezier(0.57, -0.47, 1, 0.23);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.advertise__subcribe--ipt button.ipt-focus i {
  color: black;
  -webkit-transform: scale(2);
          transform: scale(2);
  text-shadow: 0px 0px 10px var(--green-light);
}

.advertise__subcribe--ipt input {
  padding: 0 0 0 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  color: var(--text-2nd);
  height: 4.5rem;
}

.advertise__subcribe--btn {
  background-color: var(--green-light);
  height: 4rem;
  width: 13.5rem;
  border-radius: 2rem;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem auto 0;
  max-width: 114rem;
}

.select__column-2 {
  background-color: white;
  font-size: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: 'header header header header header' 'brand priceRange another pricing footer';
}

.select__column-2 > * {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.filter__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 2rem;
  height: 5rem;
  border-bottom: 1px solid var(--border);
}

.filter__header--text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__header--btn {
  width: 10.5rem;
  border: none;
  border-left: 1px solid var(--border);
  font-size: 1.2rem;
  color: var(--text-3rd);
  background-color: white;
  padding-right: 2rem;
}

.filter__brand {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: brand;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  border-bottom: 1px solid var(--border);
}

.filter__brand--title {
  font-weight: bold;
  margin: 0 0 1.5rem 0;
}

.filter__brand--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__brand--list button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  margin-bottom: 1rem;
  border: none;
  padding: 0;
  background-color: white;
  color: var(--text-2nd);
  padding: 0 1.5rem;
}

.filter__brand--list button i {
  display: none;
}

.filter__brand--list button.chosed {
  color: var(--blue-dark-dark);
  border: 1px solid var(--border);
  border-radius: 1.5rem;
}

.filter__brand--list button.chosed i {
  display: block;
}

.filter__price-range {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: priceRange;
  border-bottom: 1px solid var(--border);
  padding: 2rem;
}

.filter__price-range--title {
  font-weight: bold;
}

.filter__price-range--form {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fliter__form-item {
  width: 7rem;
  color: var(--text-2nd);
  margin-right: 1.5rem;
}

.fliter__form-item label {
  width: 100%;
  font-size: 1rem;
}

.fliter__form-item input {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid var(--border);
  width: 100%;
  height: 3.5rem;
  border-radius: 0.3rem;
  margin: 1rem 0 0;
}

.filter__price-range--slide {
  padding-top: 4rem;
}

.filter__another {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: another;
}

.filter__pricing {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: pricing;
}

.filter__select {
  border-bottom: 1px solid var(--border);
}

.filter__select--title {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.filter__select--title i {
  color: var(--text-3rd);
}

.filter__select--list {
  background-color: #fff6db;
}

.filter__select--list li {
  -webkit-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
  -webkit-transition-duration: 0.8s, 0.2s;
          transition-duration: 0.8s, 0.2s;
  padding: 1.5rem 2rem 1.5rem 4rem;
  border-bottom: 1px solid var(--border);
}

.filter__select--list li:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 5px yellowgreen;
}

.filter__select--list li.chosed {
  color: var(--blue-dark);
  position: relative;
}

.filter__select--list .chosed:after {
  content: "O";
  position: absolute;
  right: 2rem;
  font-size: 1.6rem;
  font-weight: bolder;
}

.filter__footer {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: footer;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__footer--btn {
  width: 14.5rem;
  height: 4rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.4rem;
  border: 1px solid var(--green-dark-dark);
  background-color: var(--green-light);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.filter__footer--btn:hover {
  -webkit-box-shadow: 0px 0px 5px green;
          box-shadow: 0px 0px 5px green;
}

.statistic {
  max-width: 114rem;
  margin: 14rem auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.statistic__grid-item {
  position: relative;
}

.statistic__item {
  position: relative;
  padding: 3rem 0;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: 5.5rem auto;
      grid-template-columns: 5.5rem auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  border-radius: 0.5rem;
  padding-left: 3rem;
}

.statistic__item:before {
  content: "";
  position: absolute;
  top: -100%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  background: rgba(255, 255, 255, 0.13);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}

.statistic__item:hover:before {
  opacity: 1;
  top: -100%;
  left: -43%;
  -webkit-transition-property: left, top, opacity;
  transition-property: left, top, opacity;
  -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
          transition-duration: 0.7s, 0.7s, 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.statistic .statistic__item--top {
  background-color: white;
}

.statistic .statistic__item--bottom {
  margin-top: 3rem;
}

.statistic .statistic__item--bottom * {
  color: white;
}

.statistic__icon {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  height: 5.5rem;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 50%;
}

.statistic__text--sum {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 2.8rem;
}

.statistic__text--about {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 1.2rem;
  color: var(--text-2nd);
}

.statistic__project .statistic__item--top {
  background-color: white;
}

.statistic__project .statistic__item--top .statistic__icon {
  background-color: var(--green-light);
}

.statistic__project .statistic__item--bottom {
  background-color: var(--green-light);
}

.statistic__project .statistic__item--bottom .statistic__icon {
  background-color: var(--green-dark-dark);
}

.statistic__user .statistic__item--top {
  background-color: white;
}

.statistic__user .statistic__item--top .statistic__icon {
  background-color: var(--blue-dark);
}

.statistic__user .statistic__item--bottom {
  background-color: var(--blue-dark);
}

.statistic__user .statistic__item--bottom .statistic__icon {
  background-color: var(--blue-dark-dark);
}

.statistic__product .statistic__item--top {
  background-color: white;
}

.statistic__product .statistic__item--top .statistic__icon {
  background-color: var(--purple);
}

.statistic__product .statistic__item--bottom {
  background-color: var(--purple);
}

.statistic__product .statistic__item--bottom .statistic__icon {
  background-color: var(--purple-dark);
}

.statistic__client .statistic__item--top {
  background-color: white;
}

.statistic__client .statistic__item--top .statistic__icon {
  background-color: var(--orange);
}

.statistic__client .statistic__item--bottom {
  background-color: var(--orange);
}

.statistic__client .statistic__item--bottom .statistic__icon {
  background-color: var(--orange-dark);
}

.chart {
  margin: 3rem auto 0;
  max-width: 114rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.chart__grid-item {
  background-color: white;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.chart__grid-item--header {
  font-size: 1.6rem;
  padding: 0 3rem;
  height: 6rem;
  border-bottom: 1px solid var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart__grid-item--header i {
  color: var(--text-3rd);
}

.chart__grid-item--header i:hover {
  cursor: pointer;
}

.chart__column-1 .chart__grid-item--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.5rem 3rem 0 3rem;
}

.chart__grid-item--content {
  padding: 0 3rem;
}

.chart__content--sum h2 {
  font-size: 4.4rem;
}

.chart__content--sum p {
  font-size: 1.2rem;
  color: var(--text-2nd);
}

.chart__content--note {
  line-height: 2.8rem;
}

.chart__content--note .note-from-chart {
  font-size: 1.2rem;
  color: var(--text-2nd);
}

.chart__column-1 .note-upcoming > i {
  color: var(--green-dark);
}

.chart__column-1 .note-incoming > i {
  color: var(--purple-dark);
}

.chart__column-3 .note-label-1 > i {
  color: var(--purple-dark);
}

.chart__column-3 .note-label-2 > i {
  color: var(--blue-dark);
}

.chart__column-3 .note-label-3 > i {
  color: var(--green-dark);
}

.chart__grid-item--chart {
  margin: 4rem 0 2rem;
}

.chart__column-2 .chart__grid-item--chart {
  margin: auto 0 2rem;
}

.chart__grid-item--pagi {
  margin: 2rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
  position: relative;
}

.chart__pagi--btn {
  border: none;
  border-radius: 1.5rem;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  height: 3rem;
  padding: 0 2.5rem;
  z-index: 2;
  color: var(--text-2nd);
}

.chart__pagi--btn-Active {
  color: var(--text-primary);
}

.chart__pagi--chosed {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  height: 3rem;
  width: 8.3rem;
  border-radius: 1.5rem;
  border: 1px solid var(--border);
  background-color: var(--bg);
}

.chart__grid-item--middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 auto 0;
  padding: 0 2.5rem 0 3rem;
}

.chart__grid-item--middle .chart__grid-item--content {
  padding: 0 0 0 2.5rem;
  min-width: 11rem;
}

.chart__grid-item--middle .chart__content--note li:not(.note-from-chart) {
  font-size: 1.8rem;
  color: var(--text-primary);
}

.chart__grid-item--middle .chart__grid-item--chart {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
}

.chart__grid-item--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8.4rem;
  width: 100%;
}

.chart__footer--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 0 0 0 3rem;
}

.chart__footer--item h3 {
  font-size: 2.8rem;
}

.chart__footer--item p {
  font-size: 1.2rem;
  color: var(--text-3rd);
}

.chart__footer--item:last-child {
  border-right: none;
}

.article {
  margin: 10rem auto;
  max-width: 114rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 4fr;
      grid-template-columns: 8fr 4fr;
  grid-gap: 3rem;
  font-weight: 500;
}

.article__grid-item {
  padding: 3.5rem 3rem 4rem 4rem;
  border-radius: 0.3rem;
}

.article__grid-item--left {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--purple-light)), to(var(--purple-dark)));
  background-image: linear-gradient(to bottom, var(--purple-light), var(--purple-dark));
}

.article__left-header button {
  color: white;
  border-radius: 1.3rem;
  border: none;
  padding: 0 1.5rem;
  height: 2.6rem;
  font-size: 1.2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.article__left-header button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

.article__left-header .article__left-header--technology {
  background-color: var(--orange-btn);
  margin-right: 2rem;
}

.article__left-header .article__left-header--startups {
  background-color: var(--blue-dark);
}

.article__left-content {
  margin: 5.5rem 0;
  max-width: 54.5rem;
}

.article__left-content h2 {
  font-size: 3.4rem;
  color: white;
  margin-bottom: 2rem;
}

.article__left-content p {
  font-size: 1.6rem;
  color: var(--text-3rd);
}

.article__left-button {
  height: 4rem;
  width: 17rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  border: 1px solid white;
  color: white;
  background-color: var(--purple-light);
}

.article__left-button:hover {
  background-color: var(--purple-dark);
}

.article__grid-item--right {
  background-color: white;
}

.article__right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article__right-header--img {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.article__right-header--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.article__right-header--text h3 {
  font-size: 1.4rem;
}

.article__right-header--text p {
  font-size: 1.2rem;
  color: var(--text-3rd);
}

.article__right-content {
  margin: 3rem 0 4rem;
}

.article__right-content h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.article__right-content p {
  font-size: 1.6rem;
  color: var(--text-2nd);
}

.article__right-button {
  height: 4rem;
  width: 17rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  border: 1px solid var(--text-3rd);
  color: var(--text-3rd);
  background-color: white;
}

.article__right-button:hover {
  background-color: var(--purple);
  color: white;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 860px) {
  .welcome {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 414px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1300px) {
  .player {
    margin: 0 auto 0;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .player__grid-item-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .player__grid-item-1 .player__content {
    margin: 0 1rem 0;
  }
  .player__grid-item-3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .player__grid-item-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .player__grid-item-5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .player__grid-item-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .player__grid-item-2 .player__vd--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .player__grid-item-2 .player__vd, .player__grid-item-2 .player__vd:last-child {
    max-width: 100%;
    width: 30%;
    max-height: 100%;
    margin: 2rem auto 1.5rem;
    border-bottom: none;
  }
  .player__grid-item-2 .player__vd--video {
    height: 18rem;
  }
}

@media screen and (max-width: 768px) {
  .player__grid-item-1 .player__vd iframe {
    height: 30rem;
  }
  .player__grid-item-1 .player__footer {
    height: auto;
    padding: 1.5rem 1rem;
  }
  .player__grid-item-1 .player__content--feed span {
    margin-right: 1rem;
  }
  .player__grid-item-2 .player__vd--container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .player__grid-item-2 .player__vd, .player__grid-item-2 .player__vd:last-child {
    width: 80%;
    max-height: 100%;
  }
  .player__grid-item-2 .player__vd--video {
    height: auto;
  }
  .player__content {
    margin: 0.5rem 0 0 0;
  }
  .player__music-wave {
    margin: 0;
  }
  .player__music-line {
    margin: 0;
  }
  .player__footer {
    padding: 0.5rem 0;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .player__content--name {
    font-size: 1.2rem;
  }
  .player__content--author {
    font-size: 1rem;
  }
  .player__heart {
    display: none;
  }
  .player__footer--item {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  .player__footer--time {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .player__grid-item-4 .player__img {
    width: 10%;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
  }
  .player__grid-item-4 .player__text {
    width: 100%;
    padding: 0 1rem;
  }
  .player__grid-item-5 .player__img {
    width: 10%;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
  }
  .player__grid-item-5 .player__text {
    width: 100%;
    padding: 0 1rem;
  }
  .player__content--name {
    font-size: 1.2rem;
  }
  .player__content--author {
    font-size: 1rem;
  }
  .player__heart {
    display: none;
  }
  .player__footer--item {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  .player__footer--time {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1300px) {
  .advertise {
    max-width: 100%;
    width: 100%;
    -ms-grid-columns: 1fr 338px;
        grid-template-columns: 1fr 338px;
    grid-gap: 3rem;
  }
  .advertise__new {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .advertise__rate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .advertise__present {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding: 8rem 4rem 7.5rem;
  }
  .advertise__subcribe {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media screen and (max-width: 768px) {
  .advertise {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  .advertise__new {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .advertise__rate {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .advertise__present {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: 4rem 2rem;
  }
  .advertise__subcribe {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 650px) {
  .advertise__rate-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advertise__rate-middle--left {
    padding: 3rem 3rem 0 0;
    border: none;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 0;
    right: 0;
    width: 16rem;
    height: 16rem;
  }
  .advertise__rate-middle--right {
    padding: 3rem;
  }
}

@media screen and (max-width: 414px) {
  .advertise__new-middle {
    padding: 3rem 0 5rem;
    width: 26rem;
  }
  .advertise__rate-middle--left {
    top: 5rem;
    width: 10rem;
    height: 10rem;
  }
  .advertise__rate-middle--right {
    padding: 3rem;
  }
  .rate-middle__price--item:first-child h3 {
    margin: 0 3rem 0 0;
  }
  .advertise__rate-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .advertise__rate-footer--right, .advertise__rate-footer--left {
    height: 6rem;
    width: 100%;
  }
  #owl-carousel--2 .owl-next {
    right: 0;
  }
  #owl-carousel--2 .owl-prev, #owl-carousel--2 .owl-next {
    border: 1px solid var(--border);
  }
}

@media screen and (max-width: 1300px) {
  .select {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1070px) {
  .select__column-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'header footer' 'brand priceRange' 'another pricing';
  }
}

@media screen and (max-width: 460px) {
  .select__column-2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'header' 'brand' 'priceRange' 'another' 'pricing' 'footer';
  }
}

@media screen and (max-width: 1300px) {
  .statistic {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .statistic {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .statistic .statistic__item--bottom {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .statistic {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1300px) {
  .chart {
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .chart__grid-item {
    width: 32rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */